<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- HEADERS GLOBAIS -->
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-store, no-cache, must-revalidate, max-age=0" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
      </customHeaders>
    </httpProtocol>

 	
    <rewrite>
      <rules>

        <!-- PLUGIN -->
        <rule name="Plugin route" stopProcessing="true">
          <match url="^plugin/login" />
          <action type="Redirect" url="https://homogojur.gojur.com.br/plugin.html" appendQueryString="true" />
        </rule>

        <!-- PWA / SERVICE WORKER -->
        <rule name="PWA files" stopProcessing="true">
          <match url="^(gojur-worker\.js|manifest\.webmanifest|workbox-.*\.js)$" />
          <action type="None" />
        </rule>

        <!-- SPA REACT -->
        <rule name="ReactRouter Routes" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>

      </rules>
    </rewrite>
        <httpErrors errorMode="Detailed">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="C:\inetpub\wwwroot\GOJUR_APP\manutencaoaviso.html" responseMode="File" />
        </httpErrors>

  </system.webServer>

</configuration>