<?xml version="1.0" encoding="UTF-8"?>
<configuration>

   <!-- Configuração para IIS não cachear o index.html -->
	<location path="index.html">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="DisableCache"/>
			</staticContent>
		</system.webServer>
	</location>
	<system.webServer>
		<rewrite>
			<rules>
				<!-- Regra para Interceptar PLUGIN GOJUR e redirecionar para outra página -->
				<rule name="Plugin route" stopProcessing="false">
					<match url="^plugin/login"/>
					<action type="Redirect" url="https://homogojur.gojur.com.br/plugin.html" appendQueryString="true"/>
				</rule>
				
				<!-- Regra React - fallback de rotas sempre em index.html-->
				<rule name="ReactRouter Routes" stopProcessing="false">
					<match url=".*"/>
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
						<!-- Este input/regra abaixo garante que a regra de rewrite seja aplicada somente 
						     para rotas da aplicação, não para requisição de arquivos, .JS por exemplo
						     Inserido para evitar erro no deploy qdo o JS ainda não está copiado em alguns dos servers 
							 e o IIS retornava o index continuamente (cache) mesmo após a cópia - 09/2026
						-->	 
						<add input="{REQUEST_URI}" pattern="\.[^/]+$" negate="true"/>
					</conditions>
					<action type="Rewrite" url="/index.html"/>
				</rule>
			</rules>
		</rewrite>
		<httpErrors errorMode="Detailed">
			<remove statusCode="404" subStatusCode="-1"/>
			<error statusCode="404" prefixLanguageFilePath="" path="C:\inetpub\wwwroot\GOJUR_APP\manutencaoaviso.html" responseMode="File"/>
		</httpErrors>
	</system.webServer>
</configuration>
